@import "tailwindcss";


@theme inline {
  --font-sans: var(--font-poppins);
}

body {
  @apply bg-black text-white;
}

label {
  @apply text-white font-medium text-xl;
}

input {
  @apply text-white font-medium text-xl border-2 border-white rounded-md px-4 py-2;
  @apply placeholder:italic;
}